#{extends 'main.html' /}
#{set title:'Home' /}


#{set 'moreScripts'}

    <script src="@{'/public/javascripts/jsonformatter.js'}" type="text/javascript"
        charset="${_response_encoding}"></script>

    <script type="text/javascript">
        $(function() {
            var btn = $('#formatJSON').click(function () {
                // the browser chokes on the json string even though it is encoded
                // var sJSON = parsedDocument.json
                //FormatTextarea(sJSON);
                FormatTextarea();
                btn.button("Formated JSON")
            });
          })
    </script>
#{/set}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="content">
    <h2>Gedcom Warnings and Errors</h2>
    <textarea id="warningTextArea" style="height: 200px; width: 100%" >
        ${parsedDocument.warnings}
    </textarea>
</div>

<p></p>
<p></p>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>JSON</h2>
        <p>
            <textarea id="jsonTextArea" style="height: 350px; width: 90%" >
                ${parsedDocument.json}
            </textarea>
        </p>
        <button id="formatJSON" class="btn">Format JSON</button>
    </div>
    <div class="span-one-third">
        <h2>Original Gedcom</h2>
        <p>
            <textarea id="gedcomTextArea" style="height: 350px; width: 90%" >
                ${parsedDocument.originalGedcom}
            </textarea>
        </p>
    </div>
    <div class="span-one-third">
        <h2>Re-Constitued Gedcom</h2>
        <p>
            <textarea id="reconsitituedGedcomTextArea" style="height: 350px; width: 90%" >
                ${parsedDocument.reconstituedGedcom}
            </textarea>
        </p>
    </div>
</div>

