#{extends 'main.html' /}
#{set title:'Home' /}

<div class="content box">
    <div class="box-header">Out-of-model tags</div>
    <div class="box-contents" id="warnings">${parsedDocument.warnings}</div>
</div>

<p></p>
<p></p>

<div class="row">
    <div class="box span-one-third">
        <div class="box-header">2. Object model as JSON</div>
	<div class="box-contents code" id="jsonTextArea">${parsedDocument.json}</div>
    </div>
    <div class="box span-one-third">
        <div class="box-header">1. Original GEDCOM</div>
	<div class="box-contents code" id="gedcomTextArea">${parsedDocument.originalGedcom}</div>
    </div>
    <div class="box span-one-third">
        <div class="box-header">3. Re-constituted GEDCOM</div>
	<div class="box-contents code" id="reconstitutedGedcomTextArea">${parsedDocument.reconstituedGedcom}</div>
    </div>
</div>

